<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Study Buddy!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
{{!--     // <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> --}}
    <script type="text/javascript" src="/assets/js/app.js"></script>
</head>
	<body>
		<div class="toplogo">
			<h1> STUDY BUDDY </h1>
			<h3>For you need to study smart, not just hard. </h4>
		</div>
        <div>
		{{{ body }}}
         </div>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	</body>
</html>


