
<form id="signin-form" name="signin" method="post" action="">
    <div class="formTitle">
        <h2>SIGN IN</h2>
    </div>
    <div class="form-group">
        <label for="signin-username">Username</label>
        <input type="text" class="form-control" name="signin-username" id="signin-username" placeholder="Enter Username">
    </div>
    <div class="form-group">
        <label for="signin-password">Password</label>
        <input type="password" class="form-control" name="signin-password" id="signin-password" placeholder="Enter Password">
    </div>
    <div class="btnContainer">
        <button class="btn btn-primary btn-lg" id="signin-btn">Sign In</button>
        <span id="not-member">Not a member? <a href="/signup" class="btn btn-primary btn-lg" id="signin-up-btn"><span class="glyphicon glyphicon-plus"></span> Sign Up</a></span>
        
    </div>    
</form>