
<div class="formwrapper">
    <form id="signup-form">
        <div class="formTitle">
        <h2>SIGN UP</h2>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="signup-firstname">First Name</label>
      <input type="text" class="form-control" id="signup-firstname" placeholder="Enter firstname">
    </div>
    <div class="form-group col-md-6">
      <label for="signup-lastname">Last name</label>
      <input type="text" class="form-control" id="signup-lastname" placeholder="Enter lastname">
    </div>
</div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="signup-email">Email</label>
      <input type="email" class="form-control" id="signup-email" placeholder="Enter email">
    </div>
    <div class="form-group col-md-6">
      <label for="signup-username">User Name</label>
      <input type="text" class="form-control" id="signup-username" placeholder="Enter User Name">
    </div>
  </div>
<div class="form-row">
<div class="form-group col-md-6">
      <label for="signup-password">Password</label>
      <input type="password" class="form-control" id="signup-password" placeholder="Password">
    </div>
    <div class="form-group col-md-6">
      <label for="signup-confirm-password">Confirm Password</label>
      <input type="password" class="form-control" id="signup-confirm-password" placeholder="Confirm Password">
      <span id='message'></span>
    </div>
</div>  
    <div class="btnContainer">
        <a href="" class="btn btn-primary btn-lg" id="signup-btn"><span class="glyphicon glyphicon-plus"></span> Sign up</a>
         <a href="/" class="btn btn-primary btn-lg" id="back-btn"><span class="glyphicon glyphicon-plus"></span> Back</a>
    </div>    
