<form id="signup-form" name="signup" method="post" action="">
    <div class="formTitle">
        <h2>Sign Up</h2>
    </div>
    <div class="form-group">
        <label for="signup-firstname">Firstname</label>
        <input type="text" class="form-control" name="signup-firstname" id="signup-firstname" placeholder="Enter firstname">
    </div>
    <div class="form-group">
        <label for="signup-lastname">Lastname</label>
        <input type="text" class="form-control" name="signup-lastname" id="signup-lastname" placeholder="Enter lastname">
    </div>
    <div class="form-group">
        <label for="signup-email">Email</label>
        <input type="email" class="form-control" name="signup-email" id="signup-email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="signup-username">Username</label>
        <input type="text" class="form-control" name="signup-username" id="signup-username" placeholder="Enter Username">
    </div>
    <div class="form-group">
        <label for="signup-password">Password</label>
        <input type="password" class="form-control" name="signup-password" id="signup-password" placeholder="Enter Password">
    </div>
    <div class="form-group">
        <label for="signup-confirm-password">Confirm Password</label>
        <input type="password" class="form-control" name="signup-confirm-password" id="signup-confirm-password" placeholder="Confirm Password">
    </div>
    <div class="btnContainer">
        <a href="/signin" class="btn btn-primary btn-lg" id="signup-in-btn"><span class="glyphicon glyphicon-plus"></span> Sign in</a>
        <a href="" class="btn btn-primary btn-lg" id="signup-btn"><span class="glyphicon glyphicon-plus"></span> Sign Up</a>
    </div>    
</form>