<form id="signup-form" name="signup" method="post" action="/signup">
    <div class="formTitle">
        <h2>Sign Up</h2>
    </div>
    <div class="form-group">
        <label for="signup-firstname">Firstname</label>
        <input type="text" class="form-control" name="signup-firstname" id="signup-firstname" placeholder="Enter firstname">
    </div>
    <div class="form-group">
        <label for="signup-lastname">Lastname</label>
        <input type="text" class="form-control" name="signup-lastname" id="signup-lastname" placeholder="Enter lastname">
    </div>
    <div class="form-group">
        <label for="signup-email">Email</label>
        <input type="email" class="form-control" name="signup-email" id="signup-email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="signup-username">Username</label>
        <input type="text" class="form-control" name="signup-username" id="signup-username" placeholder="Enter Username">
    </div>
    <div class="form-group">
        <label for="signup-password">Password</label>
        <input type="password" class="form-control" name="signup-password" id="signup-password" placeholder="Enter Password">
    </div>
    <div class="form-group">
        <label for="signup-confirm-password">Confirm Password</label>
        <input type="password" class="form-control" name="signup-confirm-password" id="signup-confirm-password" placeholder="Confirm Password">
    </div>
    <div class="btnContainer">
        <button type="submit" class="btn btn-primary signup">Sign up</button>
        <a href="/signin"><button type="submit" class="btn btn-primary signin ">Sign In</button></a>
    </div>    
</form>