
        <!-- Navbar Start -->
        <nav class="navbar navbar-light bg-light justify-content-between navbar-fixed-top">
            <a class="navbar-brand">STUDY BUDDY</a>
            <form class="form-inline">

                <button class="btn btn-outline-success my-2 my-sm-0 create_btn" type="submit">Create Group</button>
                <input class="form-control mr-sm-2" id="search-btn" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <div class="sign-out"></div>
                <div class="username-display">{{user.user_name}}User ID here</div>
                <button class="btn btn-outline-success my-2 my-sm-0 " id="sign-out" type="submit">Sign Out</button>
            </form>
           
            
        </nav>
        <!-- Navbar End -->
        <div class="divider">
            
        </div>
         <div class="wrap">


        <div class="body-container">
            <div class="row">
                <div class="col-md-7 list">
<div class="filtering">
    <div class="btngroup" onclick="window.location.href='/api/groups'">VIEW ALL GROUPS</div>

    <div class="btngroup" onclick="window.location.href='/groups/{{user.id}}'">VIEW YOUR GROUPS</div>
    <div class="btngroup">ONE</div>

        </div>
                    <div class="card">

                    	<!-- list info--><!-- need to append this every single group creation-->
                        <h5 class="card-header">Group List</h5>
                        <div class="card-body">
                            <h5 class="card-title">Group Subject</h5>
                            <p class="card-text">Detail Info</p>
                    
                        </div>
                    </div>
                </div>
                <div class="col-md-5" id="map">
                </div>
            </div>
        </div>
        <div class="footer">
            
        </div>
   	</div>
        <!-- google map API-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClQcm8IwvweRWwqoYG2pXFyv7RKh6Ed4Q&callback=initMap"></script>
