/* 



 body {

    margin: 0;
    padding: 0;
    background: url("../images/banner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Cormorant Garamond', serif;
}

#signup-form, #signin-form{
	width:600px;
	background:white;
	padding:20px;
	border-radius:10px 10px 10px 10px;
	background:rgba(0,0,0,0.4);
	position:absolute;
	top:60%;
	left:50%;
	transform:translate(-50%,-50%);
	text-align:center;
} 
label{
	color:white;
	font-size:20px;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
}

#logo{
	color: #FFCA54;
	font-weight: bold;
	font-size: 60px;
}

.modal-content{
	background-color: #FFCA54;
	color: white;
}
.btn{	
	margin-right:20px;
	margin-top:20px;
	margin-bottom:30px;
	transition:1s;

}
.buttonGroup button{
margin-right:0;
margin-top:5px;
margin-bottom:10px;
}

#btn-create-grp{
	width:150px;
}
.btn-primary{
	background-color:#FFCA54 !important;
	border-color:#FFCA54 !important;
}
.btn-primary:hover{
	background-color:#E851C8 !important;
	font-weight: bold;
	transition:0.2s;
}
.btnContainer{
	text-align:center;
}
.subtitle{
	color:white;
}

.cardgroup{
	text-align:left;
	margin-top:10px;
}
.loginTitle {
	color:white;
	text-align:center;
	background:grey;
	border-radius:20px;
}
.formTitle{
	color:white;
	text-align:center;
}
.toplogo{
	color:white;
	font-family:cursive;
	text-align:center;
	position:absolute;
	top:20%;
	left:50%;
	transform:translate(-50%,-50%);
}
.toplogo h1{
	font-size:3.5em;
}
.form-group label{
	font-size:15px;
}
.form-control {
	width:100% !important;
}
#input-search-term{
	width:150px !important;
}
#not-member{
	color:white;
	font-size:20px;
}
#not-member:hover .btn{
width:130px;
padding:15px 15px 15px 15px;
transition:0.5s;

}

@media screen and (max-width:940px){

	.toplogo{
		width:500px;
	}
	body{
	width:640px;
	background-size:1100px;
	}
	.toplogo h3, h1 {
	display:none;
	}
	
} 
@media screen and (max-height:574px){

	.toplogo{
		display:none;
	}
		
}
@media screen and (max-width:1070px){
	nav{
		width:1100px;
	}
}
@media screen and (max-width:750px){
	#map{
		margin-top:20px;
	}

}



main page css
nav{
        box-shadow: 0 3px #E8E0D5; 
}
.dashboard-wrap{
	width:900px;
	 margin:0 auto;
}
.wrap{
    width:1400px;
    margin:0 auto;
}
.create_btn  {
    margin-right: 40px;
    width:150px;
}
.btn{
    font-weight: bold;
    color:white !important;
    background-color:#FFCA54 !important;
    border:1px solid #FFCA54 !important;
}

.form-inline {
    margin: 0;
}

.list-group, .list, #map {
	height:100%;
    border-radius:5px 5px  5px  5px ;
}
#map{
    height:700px;
}

.divider {
    height: 50px;
    width: 100px;
}
.body-container{
	width:90%;
	margin:0 auto;
	text-align:center;
}

.btngroup{
	display:inline;
	padding:1%;
	padding-right:30px;
	padding-left:30px;
	margin: 0px 20px;
	background:white;
	line-height:3;
	border-radius:10px;
	transition:0.2s;
	font-weight:bold;
	font-size: 20px;
	color:#FFCA54;

}
.groupcontainer{
	width:500px;
}

#wrapper{
	margin-bottom: 50px;
}

.filtering div:hover{
	background:tomato;
	color:white;
	font-weight: bold;
	transition:0.2s;
}

.filtering{
    height:100px;
    padding-top: 25px;
    width:100%;
    background:#FFCA54;
    border:1px solid #FFCA54;
    margin:0 auto;
    margin-bottom:5px;
    opacity:0.9;
    box-shadow: 0 3px #E8E0D5;
    border-radius:5px 5px 0 0 ;
    overflow:hidden;
}
.username-display{
    background:#f8f9fa;
    width:100px;
    font-size:20px;
    font-weight: bold
    margin:0 20px 0 20px;  
  	text-align:center;
}
select{
    border-radius:5px;
}

.online-photo, .offline-photo {
	max-width: 20px
}

ul {
  list-style-type: none;
}

.welcome {
    width: auto;
    height: auto;
    background: red;
    position: relative;
    animation: myfirst 5s infinite;
    animation-direction: alternate;
    border-radius:20%;
}



@keyframes myfirst {
    0%   {background: tomato; left: 0px; top: 0px;}
    25%  {background: skyblue; left: 400px; top: 0px;}
    50%  {background: pink; left: 400px; top: 0px;}
    75%  {background: cyan; left: 0px; top: 0px;}
    100% {background: #FFCA54; left: 0px; top: 0px;}
}

 */


 body {

    margin: 0;
    padding: 0;
    background: url("../images/banner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Sans', sans-serif;
	font-family: 'Alegreya', serif;
}
a{
	
 text-decoration: none !important;
}

#signup-form, #signin-form{
	width:600px;
	background:white;
	padding:20px;
	border-radius:10px 10px 10px 10px;
	background:rgba(0,0,0,0.4);
	position:absolute;
	top:60%;
	left:50%;
	transform:translate(-50%,-50%);
	text-align:center;
} 
label{
	color:white;
	font-size:20px;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
}


#logo{
	color: #FFCA54;
	font-weight: bold;
	font-size: 60px;
}

.modal-content{
	background-color: #FFCA54;
	color: white;
}
.btn{	
	margin-right:20px;
	margin-top:20px;
	margin-bottom:30px;
	transition:1s;

}
.buttonGroup button{
margin-right:0;
margin-top:5px;
margin-bottom:10px;
}

#btn-create-grp{
	width:150px;
}
.btn-primary{
	background-color:#FFCA54 !important;
	border-color:#FFCA54 !important;
}
.btn-primary:hover{
	background-color:#E851C8 !important;
	font-weight: bold;
	transition:0.2s;
}
.btnContainer{
	text-align:center;
}
.subtitle{
	color:white;
}
.groupdisplay{
	/*margin-top:10%;*/
}

.cardgroup{
	text-align:left;
	/*margin-top:10px;*/
	background:white;
	width:auto;
	padding:0;
	/*width:100%;*/
	border-radius:5px;
}
.loginTitle {
	color:white;
	text-align:center;
	background:grey;
	border-radius:20px;
}
.formTitle{
	color:white;
	text-align:center;
}
.toplogo{
	color:white;
	font-family:cursive;
	text-align:center;
	position:absolute;
	top:20%;
	left:50%;
	transform:translate(-50%,-50%);
}
.toplogo h1{
	font-size:3.5em;
}
.form-group label{
	font-size:15px;
}
.form-control {
	width:100% !important;
}
#input-search-term{
	width:150px !important;
}
#not-member{
	color:white;
	font-size:20px;
}
#not-member:hover .btn{
width:130px;
padding:15px 15px 15px 15px;
transition:0.5s;

}

@media screen and (max-width:940px){

	.toplogo{
		width:500px;
	}
	body{
	width:640px;
	background-size:1100px;
	}
	.toplogo h3, h1 {
	display:none;
	}
	
} 
@media screen and (max-height:574px){

	.toplogo{
		display:none;
	}
		
}
@media screen and (max-width:1070px){
	nav{
		width:1070px !important;
	}
}
@media screen and (max-width:750px){
	#map{
		margin-top:20px;
	}

}


.cardgroup div{
	/*margin-top:20px;*/
	color:black;
}


/* main page css */
nav{
        box-shadow: 0 3px #E8E0D5; 
}
.dashboard-wrap{
	width:900px;
	 margin:0 auto;
}
.wrap{
    width:1400px;
    margin:0 auto;
}
.create_btn  {
    margin-right: 40px;
    width:150px;
}
.btn{
    font-weight: bold;
    color:white !important;
    background-color:#FFCA54 !important;
    border:1px solid #FFCA54 !important;
}

.form-inline {
    margin: 0;
}

.list-group, .list, #map {
	height:100%;
    border-radius:5px 5px  5px  5px ;
}
#map{
    height:700px;
}

.divider {
    height: 50px;
    width: 100px;
}
.body-container{
	width:90%;
	margin:0 auto;
	text-align:center;
}

.btngroup{
	display:inline;
	padding:1%;
	padding-right:30px;
	padding-left:30px;
	margin: 0px 20px;
	background:white;
	line-height:3;
	border-radius:10px;
	transition:0.2s;
	font-weight:bold;
	font-size: 20px;
	color:#FFCA54;

}
.groupcontainer{
	width:500px;
}

#wrapper{
	margin-bottom: 50px;
}

.filtering div:hover{
	background:tomato;
	color:white;
	font-weight: bold;
	transition:0.2s;
}

.filtering{
    height:100px;
    padding-top: 25px;
    width:100%;
    background:#FFCA54;
    border:1px solid #FFCA54;
    margin:0 auto;
    margin-bottom:5px;
    /* opacity:0.9; */
    box-shadow: 0 3px #E8E0D5;
    border-radius:5px 5px 0 0 ;
    overflow:hidden;
}
.username-display{
    background:#f8f9fa;
    width:100px;
    font-size:20px;
    font-weight: bold;
    margin: 0px 20px;  
  	text-align:center;
}
select{
    border-radius:5px;
}

.online-photo, .offline-photo {
	max-width: 20px
}

ul {
  list-style-type: none;
}

/*Mariuxi's CSS*/

.container{
	padding: 0;
}
.col-sm-4 {
	padding: 0;
}

.col-sm-8{
	padding: 0;
}
.col-sm-12{
	padding: 0;
}
#mymessage{
	text-align: right;
}
#online{
	font-size: small;
	margin-left: -20%;
}
#admin{
	text-align: center;
	font-weight: bold;
	color: #FFCA54;
}
.groupmembers{
	text-align: center;
	font-weight: bold;
	color: #FFCA54;
}
#message{
	/*float: left;*/
	/*text-align: left;*/
	padding: 5px;
	/*font-family: 'Roboto', sans-serif;*/
	color: #007bff;

}
#author{
	/*float: right;*/
	text-align: right;
	font-size: x-small;
	color: grey;
	font-family: 'Roboto', sans-serif;
}
#time{
	float: right;
	text-align: right;
	font-size: x-small;
	color: grey;
	font-family: 'Roboto', sans-serif;
}
#right-card{
	height: 86%;
}

.btn-delete{
	background-color: red;
}

/* .welcome {
    width: auto;
    height: auto;
    background: red;
    position: relative;
    animation: myfirst 5s infinite;
    animation-direction: alternate;
    border-radius:20%;

hr{
	border:2px solid lightgrey;
}
@media screen and (max-width:1070px){
	nav{
		width:1070px !important;
	}
	.filtering{
		width:1034px;

	}
}